.carousel-content {
    overflow: hidden;
    display: flex;
}

.carousel-content > * {
    flex-grow: 1;
}

.move{
    background-color: #99a1a1 !important;
    margin-right: 3%;
    font-size: 150% !important;
}

.live{
    background-color: #e72727 ;
    width: 60%;
    height: 80%;
    font-size: 150%;
}

.header{
    font-weight: 900;
    font-size: 150%;
}
.dot{
    text-align: center;
    font-size: 50% !important;
}